{% for item in basket_items %}
    <div class="basket_record">
    <br>
    <br>
        <span class="category_name">{{ item.product.category.name }} - </span>
        <span class="product_name">{{ item.product.name }} - </span>
        <img src='/media/{{ item.product.image }}' alt="itemPict" width="40px">
        <span class="product_price">Цена за штуку: {{ item.product.price }}&nbsppyб</span>
        <input type="number" min="0"
                name="{{ item.pk }}"
                value="{{ item.quantity }}">
        <span class="product_cost">Всего: {{ item.cost }}&nbsppyб</span>
        <button class="btn btn-round">
            <a href="{% url 'basket:remove' item.pk %}" class="">
                удалить
            </a>
        </button>
    </div>
{% endfor %}