body {
    /* 2-Цвет фона */
    background: #f8f8f8;
    background-image: url("../img/images.jpg");
    background-repeat: repeat;
    background-color: #cccccc;
}

.container {
    /*родительский блок Container для блока Logo & Header*/
    width: 800px;
    /*центрирование - по центру*/
    margin: 0 auto;
    background-color: burlywood;
    position: relative;
}

.logo {
    /* Выравнивание по левому краю*/
    float: right;
    /* 5.3 - Отступы вокруг картинки */
    position: relative;
    top: 10px;
    left: 10px;
    /*ширина и высота картинки*/
    width: 100px;
    height: 100px
}

.header {
    /* 3A-меню сайта, создание определенного стиля*/
    /* цвет полдожки */
    background-color: #fafafa;
    background-image: url("../img/background_light.jpg");
    background-repeat: repeat;
    /* шрифт*/
    font: 16px Tahoma;
    /*цвет текста*/
    color: darkcyan;
    /*5.2. задать блоку header высоту*/
    height: 40px;
    /*начертание шрифта*/
    font-weight: 900;
    position: relative;
    float: right;
    clear: both;
}

.menu li a:hover {
    color: darkgoldenrod;
}

.menu li a:active {
    color: yellow;
}

.menu {
    /*убираем левый отступ, равный 40px*/
    padding-left: 0;
    margin-top: 0;
    text-align: center;
}

.menu li {
    /*менюшка --> горизонт*/
    display: inline-block;
}

.menu li a {
    /*убираем подчеркивание текста ссылок*/
    text-decoration: none;
    display: block;
    line-height: 40px;
    width: 140px;
    padding-left: 10px;
    padding-right: 10px;
    clear: both;
    border: 2px solid darkorange;
}

li {
    /*Убираем маркеры */
    list-style-type: none;
}

li:before {
    /*Произвольное изображение в качестве маркера*/
    content: '֎ ';
    color: darkorange;
}

.menu li:before {
    /*Убираем изображение в качестве маркера для меню*/
    content: '';
}

.main {
    clear: both;
}

.block div {
    padding: 5px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 200px; /* Ширина слоя */
}

p:first-letter {
    font-size: 40px;
    color: darkorange;
    font-style: normal;
    font-family: serif;
    
}

.h3Goods {
    /*страница товаров*/
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-image: url("../img/background_light.jpg");
    background-repeat: repeat;
    background: #eaeaea;
    clear: both;
}

.GoodsB {
    /*Товар Каталогов-краткое описание товара*/
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.GoodsC {
    /*Товар Каталогов-подробное описание товара*/
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 24px;
}


.GoodsD td {
    /*table cells*/
    border: 1px solid #000;
    padding-left: 4px;

}

input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
    width: 200px;
    height: 18px;
    /*color after typing*/
    color: blueviolet;
    background-color: beige;
    font-size: 14px;
}

textarea {
    background-color: beige;
}

input::-webkit-input-placeholder {
    /*color before type*/
    color: red;
    background-color: aqua;
}

input[type=text] {
    /* Каждое слово начинается с заглавной буквы */
    text-transform: capitalize;
}

.pen li:before {
    font: 14px wingdings;
    /*Произвольное изображение в качестве маркера*/
    content: '? ';
}

.img {
    /* Толщина рамки */
    padding: 5px;
    /* Цвет рамки */
    background: darkorange;
    float: left;
    
}

a:hover .img {
    background: transparent;
}

a.button {
    /* цвет текста */
    color: #fff;
    /* убирать подчёркивание у ссылок */
    text-decoration: none;
    /* убирать выделение текста */
    user-select: none;
    /* фон кнопки */
    background: darkorange;
    /* отступ от текста */
    padding: .7em 1.5em;
    /* убирать контур в Mozilla */
    outline: none;
    /*Скругление углов по радиусу 10px*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a.button:hover {
    /* при наведении курсора мышки */
    color: black;
    background-image: url("../img/background_light.jpg");
}

a.button:active {
    /* при нажатии */
    background: darkorange;
}

.footer {
    /* 2-Цвет фона */
    clear: both;
    background: #f8f8f8;
    background-image: url("../img/geekbrains.png");
    background-color: transparent;
    height: 100px;
    font-weight: 800;
    color: darkorange;
    text-align: right;
    padding-top: 150px;
    padding-right: 50px;
}
