<div class='container'>
    <div class='logo'>
        <img src='/static/img/toy-logo.png' alt="logo" width="100" height="100">
    </div>
    <div class="header">
        <ul class="menu" class="links-menu">
            {% for link in links_menu %}
                <li>
                    <a href="{% url link.href %}"
                        class="{% if request.resolver_match.url_name == link.href %}
                                    active
                                {% endif %}">
                        {{ link.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>