<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h2>Категории</h2>
    {% include 'adminapp/includes/inc_category_menu.html' %}
    <a href="{% url 'admin_custom:category_create' %}">Создать новую категорию</a>
    <br>
    <a href="{% url 'admin_custom:category_update' pk=1 %}">Редактировать категорию</a>
    <br>
    <a href="#">Удалить категорию</a>
    <br>
    <h2>Продукты</h2>
    <a href="{% url 'admin_custom:product_create' %}">Создать новый продукт</a>
    <ul>
        {% for object in object_list %}
            <li>
                <a href="{% url 'admin_custom:product_read' object.pk %}">{{ object.name }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>