<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css"> -->
</head>

<body>
    <div class='container'>
        <div class='logo'>
            <img src='/static/img/pen-icon-71.png' width=100%>
        </div>
        <div class="header">
            <ul class="menu">
                <li><a href="/index/" class="active">ДОМОЙ</a></li>
                <li><a href="/products/">КАТАЛОГ</a></li>
                <li><a href="/contact/">&#9742 КОНТАКТЫ</a></li>
            </ul>
        </div>
    </div>

    <div class='main'>
        <hr>
        <h1>Контакты</h1>
        <p>Для заказа товара заполните Ваши данныи и наш менеджер свяжется с Вами по телефону:</p>

        Ваш пол<br>
        M<input type='radio' name="pol" checked><br>
        Ж<input type='radio' name='pol'><br>

        <br><b>Какие ручки Вам нравятся:</b>
        <ul class='pen'>
            <li>Перо<input type='checkbox'></li>
            <li>Авторучка<input type='checkbox'></li>
            <li>Шариковая ручка<input type='checkbox'></li>
            <li>Гелевая ручка<input type='checkbox'></li>
            <li>Лайнер<input type='checkbox'></li>
            <li>Роллер с волокном<input type='checkbox'></li>
            <li>Роллер с пластинами<input type='checkbox'></li>
            <li>Рапидографы и изографы<input type='checkbox'></li>
        </ul>

        Если хотите приобрести карточку с накопительным дискаунтом, решите логическую задачу:
        <br>"Для чего используется нижеприведенная формула?"
        <br><a href='/static/img/formula.png' target="_blank"> <img src="/static/img/formula.png" width=5% height=5%></a>
        <br><input type='text' placeholder="Ваш ответ"><br>
        <table class='#'>
            <tr>
                <th colspan='2'>Комментарий:</th>
            </tr>
            <tr>
                <td colspan='2'><textarea name="comment" cols="60" rows="3"></textarea></td>
            </tr>
            <tr>
                <th colspan='2'>Для регистрации на сайте:</th>
            </tr>
            <tr>
                <td>Ваше имя:</td>
                <td><input type="text" placeholder="Ф.И.О."></td>
            </tr>
            <tr>
                <td>Ваш номер телефона:</td>
                <td><input type='tel' placeholder='номер телефона'></td>
            </tr>
            <tr>
                <td>Ваш e-mail:</td>
                <td><input type='email' placeholder='e-mail'></td>
            </tr>
            <tr>
                <td>введите пароль:</td>
                <td><input type='password' placeholder="password"></td>
            </tr>
            <tr>
                <td>повторите пароль:</td>
                <td><input type='password' placeholder="repeat password"></td>
            </tr>
            <tr>
                <td><input type='submit' value="   Отправить данные    "></td>
                <td><input type='reset' value='Семь бед - один резет'></td>
            </tr>
        </table>

        <br>Наша карта проезда:
        <br><iframe src="https://www.google.com/maps/d/embed?mid=1Uq_-vO9qa3GdUGcPDNPC2At87GWBQrp4&hl=ru" width=100% height="371"></iframe>
    </div>

    <hr>
    <div class='footer'>
        <p>&copy; 2019 "Все права защищены" <a href="https://geekbrains.ru/">GeekBraines</a> </p>
    </div>
    <hr>
</body>

</html>
