<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css"> -->
</head>

<body>
    <div class='container'>
        <div class='logo'>
            <img src='/static/img/pen-icon-71.png' width=100%>
        </div>
        <div class="header">
            <ul class="menu">
                <li><a href="/index/" class="active">ДОМОЙ</a></li>
                <li><a href="/products/">КАТАЛОГ</a></li>
                <li><a href="/contact/">&#9742 КОНТАКТЫ</a></li>
            </ul>
 <!--           <ul class="menu">
                <li><a href='index.html'>ГЛАВНАЯ</a></li>
                <li><a href='products.html'>КАТАЛОГ</a></li>
                <li><a href='contact.html'>&#9742 КОНТАКТЫ</a></li>
            </ul> -->
        </div>
    </div>


    <div class='main'>
        <hr>
        <h1>Магазин "PenExpress" </h1>
        <p>Приветствует Вас, дорогоай наш покупатель, в нашем интернет-магазине 'PenExpress'.</p>
        <p>Вот в продажу тебе ручка, <br>Чтобы что-то записать, <br>Важные заметки делать, <br>В списках пункты отмечать.</p>
        <p>Подписи желаешь ставить <br>На весомых документах, <br>Пусть тебе поможет ручка <br>В важных жизненных моментах.</p>
        <p>Строчки радости, успеха <br>Ручкой этой напиши, <br>В книге жизни пусть ремарки <br>Будут все лишь хороши.</p>
        <p>Ручки на любой вкус: вишневые, грушевые и даже виноградные. <br>Любой цвет. Наши двери всегда отрыты и черным и белым, независимо от цвета вашей кожи.</p>
        <p>Приходите и Вы не пожалеете, заказывайте и Вы не прогадаете. <br>Вы будете приятно удивленны отменному качеству и приемлемым ценам. <br>Нам не хватало только Вас.</p>

        <h4>Наш девиз:</h4>
        <h3>"Лучше тупое перо, чем острая память"</h3>
    </div>
    <hr>
    <div class='footer'>
        <p>&copy; 2019 "Все права защищены" <a href="https://geekbrains.ru/">GeekBrains</a> </p>
    </div>
    <hr>
</body>

</html>
