{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% endblock %}

<!-- <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css"> -->

{% block header %}
    {% include 'mainapp/includes/inc_header.html' %}
{% endblock %}

{% block content %}
    <div class='main'>
        <hr>
        <h1>Магазин "PenExpress" </h1>
        <div>
            {% if request.user.is_authenticated %}
                <h2>Hello, {{ request.user.username|title }}!</h2>
            {% else %}
                <h2>Привет!</h2>
            {% endif %}
            <ul>
                {% for item in array %}
                    <li>element {{ item }}</li>
                {% endfor %}
            </ul>

        {% for product in products %}
            <div class="block">
                <a href="#">
                    <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
                    <div class="text">
                        <h3>{{ product.category.name }}</h3>
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.description }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}

        </div>
        <p>Приветствует Вас, дорогоай наш покупатель, в нашем интернет-магазине 'PenExpress'.</p>
        <p>Вот в продажу тебе ручка, <br>Чтобы что-то записать, <br>Важные заметки делать, <br>В списках пункты отмечать.</p>
        <p>Подписи желаешь ставить <br>На весомых документах, <br>Пусть тебе поможет ручка <br>В важных жизненных моментах.</p>
        <p>Строчки радости, успеха <br>Ручкой этой напиши, <br>В книге жизни пусть ремарки <br>Будут все лишь хороши.</p>
        <p>Ручки на любой вкус: вишневые, грушевые и даже виноградные. <br>Любой цвет. Наши двери всегда отрыты и черным и белым, независимо от цвета вашей кожи.</p>
        <p>Приходите и Вы не пожалеете, заказывайте и Вы не прогадаете. <br>Вы будете приятно удивленны отменному качеству и приемлемым ценам. <br>Нам не хватало только Вас.</p>

        <h4>Наш девиз:</h4>
        <h3>"Лучше тупое перо, чем острая память"</h3>
    </div>
{% endblock %}

{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}