{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    rлавная
{% endblock %}

<!-- <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css"> -->

{% block content %}
    <div class='main'>
        <hr>
        <h1>Магазин Игрушек</h1>
            {% if request.user.is_authenticated %}
                <h2>Привет, {{ request.user.username|title }}!</h2>
            {% else %}
                <h2>Привет, аноним!</h2>
            {% endif %}
    </div>
{% endblock %}
