<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css"> -->
</head>

<body>
    <div class='container'>
        <div class='logo'>
            <img src='/static/img/pen-icon-71.png' width=100%>
        </div>
        <div class="header">
            <ul class="menu">
                <li><a href="/index/" class="active">ДОМОЙ</a></li>
                <li><a href="/products/">КАТАЛОГ</a></li>
                <li><a href="/contact/">&#9742 КОНТАКТЫ</a></li>
            </ul>
        </div>
    </div>

    <div class='main'>
        <hr>
        <h1>Каталог</h1>
    </div>
    <div class='contCat'>
        <div>
            <a href='#' target="_blank"><img class='img' src='/static/img/acmecn_craving.jpg' width=100%></a>
        </div>
        <div>
            <a class='textCat' href="Acmecn_Craving.html">Craving ACMECN шариковая ручка, унисекс, с поворотным механизмом открытия, индивидуальный дизайн, латунь - симпатичное тиснение.</a>
        </div>
        <div>
            <a href='#' target="_blank"><img class='img' src='/static/img/acmecn_Deboss.jpg' width=100%></a>
        </div>
        <div>
            <a class='textCat' href='Acmecn_Deboss.html'>ACMECN Hi-tech металлическая перьевая тяжелая ручка уникального дизайна "Deboss", 46г., латунь, c чернильным картриджем</a>
        </div>
    </div>

    <hr>

    <div class='footer'>
        <p>&copy; 2019 "Все права защищены" <a href="https://geekbrains.ru/">GeekBrains</a> </p>
    </div>
    <hr>


</body>

</html>
